[submodule "libultraship"]
	path = libultraship
	url = https://github.com/mikeravenelle/libultraship.git
	branch = tvos
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
